.NModalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    transition: left 1.5s;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NModalContainer {
    margin: 2%;
    background-color: white;
    border: 2px solid black;
    padding: 3% 4%;
    max-width: 650px;
    text-align: center;
    
}

.NModalContainer p{ 
    text-align: justify;
}

.NModalBtn {
    margin-top: 15px;
}