.singupWrapper {
    display: flex;
    justify-content: center;

    height: 100vh;
}

.singupContainer {
    background-color: var(--color-MainColor);
    border-radius: 6px;
    border: 1px solid var(--color-MainBorderColor);

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);

    padding: 40px;
    margin-top: 35px;
    height: fit-content;
}
.inputSingupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singupLogin {    
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    box-sizing:border-box;

    background-color: var(--color-SecondaryBlue);
    color: white;
    border-radius: 3px;
    border: 1px solid var(--color-MainBlue);
    font-size: large;  
   
    margin:10px 0; 
    height: 38px;   
    padding: 0px 20px; 
}



.singupLogin:focus {
    background-color: var(--color-MainBlue);
} 

.toLoginText {
    margin-top: 20px;
}