.NavBar__upper{
    padding: 28px 15px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.NavBar__upper__item, .NavBar__lower__item {
    color: black;
    text-decoration: none;
}

.NavBar__upper__item {
    display: flex;
    align-items: center;
}

.NavBar__upper__item svg{
    width: 20px;    
    height: 20px;
}

.NavBar__bar {
    margin: 0px 10px;
}

.NavBar__logout {
    cursor: pointer;
}

.NavBar__upper__loginContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.NavBar__upper__logedinContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.NavBar__lower {
   display: flex;   
   flex-direction: row;
   align-items: center;
}

.--centerItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBar__lower__itemContainer {
    padding: 5px;
    margin: 0 15px;
    color: #9b9b9b;
    border-bottom: 2px solid transparent;
}

.NavBar__lower__itemContainer:hover {
   color: var(--color-Black);
   cursor: pointer;
}

.NavBar__upper__item svg {
    margin: 0 10px;
}

.NavBar__upper__itemContainer span{
    font-style: italic;
}

.NavBar__upper__loginItem:hover, .NavBar__logout:hover {
    text-decoration: underline;
}

.NavBar__upper__logo {
    grid-auto-columns: 0.5fr;
}

.NavBar__infoBar {
    background-color: #f2f2f2;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}

.NavBar__infoBar__box__icon {
    width: 18px;
    height: 18px;
}

.NavBar__infoBar__box, .NavBar__infoBar__lang__button {
    width: fit-content;
    padding: 7px 15px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.NavBar__infoBar__box:hover {
    background-color: #e5e5e5;
}

.NavBar__infoBar__box__icon {
    width: 20px;
    height: 20px;
}
.NavBar__infoBar__box__link {
    text-decoration: none;
}

.NavBar__infoBar__box__link__text, .NavBar__infoBar__lang__text {
    font-size: .625rem;
    color: #9b9b9b;
    margin-left: 5px;
    text-decoration: none;
}

.NavBar__toolBar {
    background-color: var(--color-Black);
}

.NavBar__toolBar__item {
    width: 100%;
    padding: 12px 15px;
}

.NavBar__toolBar__item__text {
    font-size: .625rem;
    color: #fff;
    text-transform: uppercase;
    white-space: break-spaces;
}

.--navFocused {
    color: var(--color-Black);
    border-bottom: 2px solid black;
}

.NavBar__infoBar__lang {
    display: flex;
}

.NavBar__infoBar__lang__icon {
    width: 15px;
    height: 15px;
    display: block;
}

.NavBar__infoBar__lang__button {
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.--active-lang {
    background-color: #e5e5e5;
}

@media screen and (max-width: 730px){
    .NavBar__upper {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 5px;
        gap: 15px;
    }
    .NavBar__lower {
        order: 3;
        width: 100%;    
        justify-content: center;
    }
    .NavBar__bar {
        opacity: 0;
        margin: 0px 7px;
    }
    .NavBar__upper__logedinContainer{
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        background-color: #f2f2f2;
        padding: 8px;
    }
    .NavBar__upper .NavBar__upper__loginContainer .NavBar__upper__item:only-child {
        position: absolute;
        right: 5px;
    }
}