.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 4px;
  padding: 2px;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px){
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px){
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.itemListTitle {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  line-height: 1.5;
}

.centerContainer {
  width: 85%;
}

.itemListHead {
  border-bottom: 1px solid rgb(229, 229, 229);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px 0;
}

.itemListTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.itemListAll {
  color: rgb(155, 155, 155);
  background-color: rgb(242, 242, 242);
  padding: 5px 10px;
  border-radius: 11px;
  font-size: 0.625rem;
  font-weight: 600;
  margin-left: 5px;
}

.itemList__sort {
  cursor: pointer;
  color: rgb(155, 155, 155);
  border: 1px solid rgb(229, 229, 229);
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 5px 15px;
}

.itemList__sort:after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.itemList__sort:hover {
  color: var(--color-Black);
  border-color: var(--color-Black);
}

.itemListWrapper {
  width: 100%;
}

.itemListTitle span {
  text-transform: capitalize;
}

@media screen and (max-width: 730px){
  .centerContainer {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeEffect{
  opacity: 0;
}